- @title = "Credits (ParlyTags)"

%h2
  Data Sources

%p
  The place names recognised are from <a href="http://www.geonames.org">GeoNames</a> data.

%p
  EDMs are displayed using data from <a href="http://www.edms.org.uk">edms.org.uk</a>.

%p
  Westminster Hall Debates, Written Ministerial Statements and Written Answers are displayed using data from the <a href="http://ukparse.kforge.net/parlparse/">Parliament Parser (parlparse)</a> project.

%h2
  Source Code

%p
  The 
  %a{:href => "http://github.com/robertbrook/parlytags", :title => 'Site source code on github'}
  source code
  for this site is available to download.

%h2
  Feedback

%p
  We welcome feedback at
  %a{:href => "mailto:mail@robertbrook.com", :title => 'Send us your feedback'}
    mail@robertbrook.com

%h2
  Copyright
	
%p
  Material is published on this site under
  %a{:href => "http://www.parliament.uk/site_information/parliamentary_copyright.cfm", :title => 'Parliamentary copyright information'}
    Parliamentary copyright