- @title = "Credits (ParlyTags)"

#credits
  The place names recognised are from <a href="http://www.geonames.org">GeoNames</a> data.
  %br
  EDMs are displayed using data from <a href="http://www.edms.org.uk">edms.org.uk</a>.
  %br
  Westminster Hall Debates, Written Ministerial Statements and Written Answers are displayed using data from the <a href="http://ukparse.kforge.net/parlparse/">Parliament Parser (parlparse)</a> project.