body
  font-size: 140%
  line-height: 140%
  margin: 1em auto
  width: 60%
  font-family: 'Lucida Grande', sans-serif
  line-height: 140%

h1
  font-size: 80%
  margin: 0
  font-weight: normal

h2
  font-size: 105%
  margin-bottom: 0
  font-weight: normal
  
.warning
  color: red
  font-style: normal

a
  text-decoration: none

  &:hover
    text-decoration: underline
    
#search
  float: right

.search_term
  font-weight: bold

blockquote
  font-style: normal
  margin: 0
  
.edm
  .number
    font-weight: bold

ul
  padding: 0
  
ul.tags
  padding: 1em 1.2em
  border: 1pt solid #999
  
li.tag
  display: inline
  list-style-type: none
  padding-right: 0.2em
  
li.tag.geo
  font-weight: bold
