body
  line-height: 140%
  margin: 1em auto
  width: 500px
  font-family: 'Lucida Grande', sans-serif

h1
  font-size: 80%
  margin: 0
  font-weight: normal

h2
  font-size: 105%
  margin-bottom: 0
  font-weight: normal
  clear: both
  
.warning
  color: red
  font-style: normal

a
  text-decoration: none

  &:hover
    text-decoration: underline
    
#search
  float: right
  
#front-page-search
  padding-top: 4em
  
  input[type=text]
    font-size: 24px
    padding: 4px
    border: 4pt solid orange

  input[type=submit]
    font-size: 20px
    background-color: orange
    

.search_term
  font-weight: bold

blockquote
  font-style: normal
  margin: 0
  
.edm
  .number
    font-weight: bold
    
#footer
  margin-top: 4em
  font-size: 85%
  
.front-page-links
  font-size: 85%

ul
  padding: 0
  
ul.tags
  font-size: 85%
  
li.tag
  display: inline
  list-style-type: none
  padding-right: 0.2em
  
li.item
  list-style-type: none
  padding-bottom: 1em
  
li.uk_parliament_twitter_result
  list-style-type: none
  padding-bottom: 1em

.kind
  color: gray
  
li.tag.geo
  font-weight: bold

#map
  width: 500px
  height: 400px
  margin-top: 1em