body
  color: #333
  font-size: 100%
  line-height: 140%
  margin: 2em auto
  width: 590px
  font-family: 'Lucida Grande', sans-serif
  line-height: 140%

h1
  font-size: 100%
  margin: 0

h2
  font-size: 105%
  margin-bottom: 0
  
.warning
  color: red
  font-style: normal

a
  text-decoration: none

  &:hover
    text-decoration: underline
    
#search
  float: right

.search_term
  font-weight: bold

blockquote
  font-style: normal
  margin-left: 1em
  
.edm
  .number
    font-weight: bold

ul
  padding: 0
  
ul.tags
  padding: 0.4em
  background-color: #EEF0F5
  
li.tag
  display: inline
  list-style-type: none
  padding-right: 0.2em
  
li.tag.geo
  font-weight: bold
  font-size: 1.05em
