%li.item
  %span.kind= item_result.kind
  = link_to item_result.title, item_result.url
  - if item_result.text
    = item_result.text
  %ul.tags
    - item_result.placenames.each do |tag|
      = link_to tag, '/search?q=' + tag
    
