%li.uk_parliament_twitter_result
  %span.kind @UKParliament
  = twitter_result["text"]
  %br
  %span.created_at= link_to twitter_result["created_at"], 'http://twitter.com/UKParliament/status/' + twitter_result["id"].to_s
