<!DOCTYPE HTML>
%html
  %head
    %title ParlyTags
    <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
    = stylesheet_link_tag "screen"
  %body
    #doc.yui-t7
      #hd{:role=>"banner"}
        %h1= link_to "ParlyTags", root_path
      #bd{:role=>"main"}
        - if Rails.env =="development"
          <div style="position:absolute; left: 0; top: 0; padding: 0.5em;"><a href="javascript:var firebug=document.createElement('script');firebug.setAttribute('src','http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js');document.body.appendChild(firebug);(function(){if(window.firebug.version){firebug.init();}else{setTimeout(arguments.callee);}})();void(firebug);">Firebug</a></div>          
        #div.yui-g= yield
      #ft{:role=>"contentinfo"}
        %p Source code ~ Contact email



  
