<!DOCTYPE html>
%html{:lang => "en-GB"}
  %head
    %title ParlyTags
    <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
    = stylesheet_link_tag "screen"
  %body
    #doc.yui-t7
      #hd{:role=>"banner"}
        - if request.request_uri == root_path
          %h1= "ParlyTags"
        - else 
          %h1= link_to "ParlyTags", root_path
      #bd{:role=>"main"}
        #div.yui-g= yield
      #ft{:role=>"contentinfo"}
        %p Source code ~ Contact email



  
